# Private Key
privateKey={privatekeyfromyouraccount}
# LearnCube user username
username={usernamefromyouraccount}
# Learcube user id
user_id={useridfromyouraccount}
# LearnCube user email
email={emailyouusedtosignup}
